div {
    width: 400px;
    height: 200px;
    border: 10px dashed red;
    margin: 20px auto;
}
/*since first 4 conditions are same in 1&2, make both divs and make second a class with just that last condition*/
.otherdiv{
    box-sizing: border-box;
}